@import "../../styles/variables.scss";

.container {
  margin: 0 auto;
  padding: 40px $gutter;
  max-width: $page-width-desktop;
}

.loadingContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
}

.modalImage {
  width: 100%;
}

.header {
  margin-bottom: 40px;
}
