@import "../../styles/variables.scss";

.containerFlex {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container {
  max-width: $page-width-ipad-landscape;
  padding: 10px 16px 20px;
}

.containerSmaller {
  justify-content: center;
  margin: 0 auto;
  max-width: 680px;
}

.postsContainer,
.eventsContainer {
  padding: 20px 0;
  width: 100%;
}

.postsOnlyContainer {
  width: 100%;
}

.supportersContainer {
  max-width: $page-width-ipad-landscape;
}

.supporters {
  padding: $gutter * 2 0;
  background-color: $color-white;
}

.instagram {
  padding: $gutter * 2 0;
  background-color: $color-grey;
}

@media only screen and (min-width: $page-width-desktop) {
  .container {
    padding: 30px 0 50px;
    flex-direction: row;
  }

  .containerFlex {
    flex-direction: row;
  }

  .postsContainer {
    width: 65%;
    margin-right: 30px;
  }

  .eventsContainer {
    width: calc(35% - 45px);
  }

  .supporters,
  .instagram {
    padding: $gutter * 4 0;
  }
}

@media only screen and (min-width: $page-width-ipad-landscape) {
  .eventsContainer {
    width: 35%;
  }
}
