@import "../../styles/variables.scss";

.containerFlex {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container {
  max-width: $page-width-ipad-landscape;
}

.containerSmaller {
  justify-content: center;
  margin: 0 auto;
  max-width: 680px;
}

.postsContainer,
.eventsContainer {
  width: 100%;
}

.postsOnlyContainer {
  width: 100%;
}

.supportersContainer {
  max-width: $page-width-ipad-landscape;
}

.supporters {
  background-color: $color-white;
}

@media only screen and (min-width: $page-width-desktop) {
  .container,
  .containerFlex {
    flex-direction: row;
  }

  .postsContainer {
    width: 65%;
    margin-right: 30px;
  }

  .eventsContainer {
    width: calc(35% - 45px);
  }
}

@media only screen and (min-width: $page-width-ipad-landscape) {
  .eventsContainer {
    width: 35%;
  }
}
