@import "../../styles/variables.scss";

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 740px;
}

@media only screen and (min-width: $page-width-ipad) {
  .container {
    padding: 40px 15px;
  }
}
