@import "./variables.scss";

.pagination {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  margin: 30px 0;
  overflow-x: auto;
  overflow-y: hidden;

  li {
    display: inline;

    &.active a {
      color: $color-white;
      background-color: $primary-color;
    }
  }

  a {
    display: inline;
    padding: 8px 14px;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.15s;

    &:hover:not(.active) {
      background-color: rgba(0, 0, 0, 0.14);
    }
  }
}
