$primary-color: #2196f3;
$secondary-color: #2196f3;
$color-white: #ffffff;
$color-grey: #fafafa;
$color-dark-grey: #f1f3f4;
$color-green: rgb(22, 231, 4);
$color-facebook: #1565c0;

/* Media queries sizes  */
$page-width-min: 320px;
$page-width-iphone6: 375px;
$page-width-mobile: 480px;
$page-width-ipad: 768px;
$page-width-desktop: 992px;
$page-width-ipad-landscape: 1024px;
$page-width-laptop: 1280px;
$page-width-max: 1920px;

/* Gutter  */
$gutter: 16px;

$title-font: "futurabold";

// Hover transition
$hover-transition: all 0.15s ease-in;
