$primary-color: #2196f3;
$secondary-color: #2196f3;
$color-white: #ffffff;
$color-grey: #fafafa;

/* Media queries sizes  */
$page-width-min: 320px;
$page-width-iphone6: 375px;
$page-width-mobile: 480px;
$page-width-ipad: 768px;
$page-width-desktop: 992px;
$page-width-ipad-landscape: 1024px;
$page-width-laptop: 1280px;
$page-width-max: 1420px;

/* Gutter  */
$gutter: 15px;
