@import "./styles/variables.scss";

.container {
  background-color: $color-grey;
}

.emailButton {
  position: fixed;
  bottom: $gutter;
  right: $gutter;
}

.routeContainer {
  min-height: 600px;
}

@media only screen and (min-width: $page-width-ipad) {
  .emailButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
}

@media only screen and (min-width: $page-width-ipad-landscape) {
  .emailButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}
