.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background-color: rgb(40, 44, 52);
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: 200px;
}
